@font-face {
  font-family: starWars;
  src: url(Starjedi.ttf);
}
body {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-rows: 2.5fr 7.5fr;
  grid-template-columns: 2.5fr 7.5fr;
  height: 100vh;
}
.pageHeader {
  background-image: url(./mainBanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 45%;
}
.navHeader {
  background-image: linear-gradient(to bottom right, black, rgb(13, 13, 56));
  font-family: starWars;
  color: white;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 6px;
}
.categoriesBar {
  background-image: linear-gradient(to top right, black, rgb(13, 13, 56));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homePage {
  background-image: url(./homepageBG.webp);
  background-size: cover;
  color: white;
  font-family: starWars;
  display: flex;

  align-items: center;
  padding-left: 3%;
  letter-spacing: 3px;
}
a {
  text-decoration: none;
  color: white;
}
a:active {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

h2,
h3 {
  color: white;
  font-family: starWars;
  letter-spacing: 3px;
}
.categoriesHeader {
  margin-bottom: 10vh;
}
.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.addCategory {
  border-radius: 50%;
  background-image: linear-gradient(to bottom right, red, maroon);
  color: white;
  height: 45px;
  width: 45px;
  font-size: 40px;
  font-weight: 400;
  cursor: pointer;
}
.itemsPage {
  background-image: linear-gradient(to top left, black, rgb(45, 0, 68));
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.itemHolder {
  height: 10vh;
  width: 15vw;
  display: grid;
  grid-template-rows: 7fr 3fr;
  background-image: linear-gradient(to top left, black, rgb(109, 0, 163));
  color: black;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 25px;
  margin-bottom: 25px;
}
.movieItemHolder {
  height: 45vh;
  width: 15vw;
  display: grid;
  grid-template-rows: 7fr 3fr;
  background-image: linear-gradient(to top left, black, rgb(109, 0, 163));
  color: black;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
img {
  height: 100%;
  width: 100%;
}
form {
  padding-left: 100px;
  color: white;
  padding-top: 3vh;
}
.addPage h1 {
  color: white;
  font-family: starWars;
  padding-left: 3vw;
  padding-top: 3vh;
}
input {
  margin-bottom: 10px;
  margin-top: 5px;
}
input[type="submit"] {
  background-color: black;
  color: white;
  text-shadow: 0 0 4px #ffffff;
  height: 30px;
  width: 70px;
  font-size: large;
}
input[type="submit"]:hover {
  cursor: pointer;
}
label {
  font-family: starWars;
}
.addPage {
  background-image: url(../addPageBG.webp);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 3px;
}
.idkHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.removeBtn {
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 0, 92),
    rgb(91, 0, 156)
  );
  color: white;
  height: 40px;
  width: 40px;
  font-size: 25px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
